[merge]
	tool = vimdiff
	keepbackup = false
[mergetool]
	prompt = false
[core]
	editor = vim
	paper = less -N
[color]
	ui = true
[user]
	name = Firef0x
	email = Firefgx@gmail.com
[push]
	default = matching
[diff]
	tool = vimdiff
[cola]
	tabwidth = 4
	fontdiff = Inconsolata for Powerline,10,-1,5,50,0,0,0,0,0
	textwidth = 72
	linebreak = false
